/* ======= Menu style ======= */
.cappa-wrap {
    display: block;
    background: #fff;
    right: 0;
    z-index: 101;
    position: fixed;
    width: 340px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    bottom: 0;
    top: 0;
    -webkit-box-shadow: 0 -20px 20px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -20px 20px -5px rgba(0, 0, 0, 0.05);
    min-height: 300px;
    overflow: auto;
    padding: 0 40px;
    border: none;
    border-left: 1px solid #f4f4f4
}
.cappa-wrap.cappa-wrap-show {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.cappa-logo-wrap {
    position: relative;
    z-index: 1021;
}

.cappa-menu ul {
    position: relative;
    margin-top: 180px;
    margin-bottom: 30px;
    padding: 0;
}
.cappa-menu ul ul {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.cappa-menu ul li,
.cappa-menu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.cappa-menu ul li {
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5em;
    border-bottom: 1px solid #f4f4f4;
}
.cappa-menu ul ul li {
    margin: 5px 0 0px 0;
    padding: 0 0 0px 0;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0px;
    border-bottom: none;
}

.cappa-menu ul li a {
    color: #222;
    text-decoration: none;
    position: relative;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.cappa-menu ul li a {
    display: inline-block;
}

.cappa-menu ul li a:after {
    content: '';
    display: block;
    width: 0;
}

.cappa-menu ul li a:hover::after {
    width: 100%;
}
.cappa-menu ul li a.active {
    color: #aa8453;
}
.cappa-menu ul li a.active:after {
    height: 0px;
}
.cappa-menu ul ul {
    display: none;
}
.cappa-menu > ul > li > a {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #222;
    text-decoration: none;
    position: relative;
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 0.5px;
}
.cappa-menu > ul > li.open > a {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #aa8453;
    text-decoration: none;
    position: relative;
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 0.5px;
}
.cappa-menu ul ul li a {
    color: #222;
    text-decoration: none;
    position: relative;
    padding: 5px 0 5px 5px;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-left: 12px;
    text-transform: none;
}

.cappa-menu ul li:hover > a,
.cappa-menu ul li.open > a,
.cappa-menu ul li.active > a,
.cappa-menu ul ul li:hover > a,
.cappa-menu ul ul li.open > a,
.cappa-menu ul ul li.active > a {
    color: #aa8453;
}
.cappa-menu ul ul ul li a {
    margin-left: 24px;
    padding-top: 0px;
}

.cappa-menu ul li a em, .cappa-menu ul ul li a em {
    font-size: 10px;
    background-color: #aa8453;
    padding: 1px 6px;
    color: #fff;
    border-radius: 0px;
    position: absolute;
    margin-left: 10px;
    top: 5px;
    font-style: normal;
}

.cappa-menu i {
    padding-left: 0px;
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
}

.cappa-menu .active i {
    color: #aa8453;
}

/* navigation footer */
.cappa-menu-footer {
    position: relative;
    bottom: 30px;
    left: 0;
    padding: 90px 0px 0px 0px;
    color: #999;
}
.cappa-menu-footer p {
    color: #999;
    margin: 0;
    font-size: 15px;
}
.cappa-menu-footer a {
    color: #aa8453;
}
.separator {
    width: 16%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #b19777;
    margin: 10px 0;
}
@media screen and (max-width: 768px) {
    .cappa-wrap {
        width: 100%;
    }
     
}


/* reservation field for slider */
.cappa-menu-footer div.reservation {
    margin: 0;
    top: 0;
    left: 40px;
    height: 60%;
    z-index: 9;
}
.cappa-menu-footer div.reservation .call {
    color: #222;
    font-weight: 400;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 60px;
} 
.cappa-menu-footer div.reservation .call span {
    font-family: 'Barlow', sans-serif;
    font-size: 21px;
    color: #aa8453;
} 
.cappa-menu-footer div.reservation .icon {
    position: absolute;
    left: 0;
    /* top: -50px; */
    width: 50px;
    height: 50px;
    border: 1px solid #aa8453;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    border-radius: 100%;
}
.cappa-menu-footer div.reservation a .icon i {
    color: #aa8453;
    font-size: 24px;
}
.cappa-menu-footer div.reservation a .icon:hover {
    border: 1px solid #aa8453;
}
@media screen and (max-width: 768px) {
    .cappa-menu-footer div.reservation {
        display: none;
    }
}


/* ======= Menu header style ======= */
.cappa-header {
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 900;
    width: 100%;
    padding-top: 40px;
}
.cappa-header .cappa-logo {
    line-height: 0;
    padding: 0;
    color: #fff;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.cappa-header .cappa-logo img {
    width: 205px;
}
.cappa-header .social li {
    display: inline-block;
}
.cappa-header .social li a {
    color: #fff;
    padding: 0 10px;
}
.cappa-header .heading {
    color: #fff;
}
.cappa-header.scrolled {
    position: fixed;
    padding: 25px 0;
    top: 0;
    background:#fff;
    -webkit-transition: .0s all ease;
    -o-transition: .0s all ease;
    transition: .0s all ease;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-box-shadow: 0px 5px 15px rgb(0 0 0 / 10%);
    box-shadow: 0px 5px 15px rgb(0 0 0 / 10%);
}
.cappa-header.scrolled .social {
    margin-top: 10px;
}
.cappa-header.scrolled .social li a {
    color: #fff;
}
.cappa-header.scrolled .cappa-logo {
    line-height: 1em;
    padding: 0;
    color: #fff;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.cappa-header.scrolled .cappa-nav-toggle {
    top: -1px !important;
}
.cappa-header.awake {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
.cappa-header.sleep {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.cappa-nav-toggle {
    top: -3px !important;
}
.cappa-nav-toggle i,
.cappa-nav-toggle i:before,
.cappa-nav-toggle i:after {
    background: #b19777 !important;
}
.cappa-wrap-burger-wrap {
    position: relative;
    z-index: 1022;
}
.cappa-nav-toggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: -15px;
    z-index: 109;
    display: block !important;
    float: right;
    right: 0;
    display: none;
    border-bottom: none !important;
}
.cappa-nav-toggle:hover i:before {
    top: -7px;
}
.cappa-nav-toggle:hover i:after {
    bottom: -7px;
}
.cappa-nav-toggle.active i {
    background: transparent !important;
}
.cappa-nav-toggle.active i:before {
    top: 0px;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.cappa-nav-toggle.active i:after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.cappa-nav-toggle:hover,
.cappa-nav-toggle:focus,
.cappa-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}
.cappa-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    width: 20px;
    height: 1px;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #b19777;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.cappa-nav-toggle i:before,
.cappa-nav-toggle i:after {
    content: '';
    width: 30px;
    height: 1px;
    background: #b19777;
    position: absolute;
    left: -10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.cappa-nav-toggle i:before {
    top: -6px;
}
.cappa-nav-toggle i:after {
    bottom: -6px;
}